{% extends 'base.html' %}
{% load static %}

{% block content %}

    

<style>
    .news-events .single-news .single-news-des a {
        display: inline;
        font-size: 11px;
        color: #BA3B4D;
    }
    .news-events .single-news .single-news-des ul {
        margin-bottom: 10px;
        margin-left: 25px;
    }
    .news-events .single-news .single-news-des ul li {
        list-style: initial;
        font-size: 13px;
    }
    </style>
    
    
    <!----------------- news & evens ----------------->
        <section class="news-events">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="heading">Blog</h2>
                        
                        <div class="news-events-wrap">
    
                            <div class="single-news">
                                <div class="title-bar">
                                <p>{{object.title}}</p>	
                            </div>
                                <div class="single-news-des">
                          <h4>{{object.name}}</h4>
    <center>
        <p style="line-height:1.295;margin-top:0pt;margin-bottom:8pt;">
            <span id="docs-internal-guid-6de6b23e-7fff-4fbb-30cd-c973a73ae23a">
                <span style="font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;"><span style="border:none;display:inline-block;overflow:hidden;width:624px;height:516px;">
                    <img height="516" src="{{object.thumnail_img.url}}" style="margin-top: 0px; margin-left: 0px; float: left;" width="624" />
                </span></span></span>
            </p>
    </center>
    
    <p dir="ltr" style="line-height:1.295;margin-top:0pt;margin-bottom:8pt;"><span>
        <span style="font-size: 11pt; font-family: Calibri, sans-serif; color: rgb(0, 0, 0); background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">
      {{object.content|safe}}
        </span></span>
    </p>
    
                                </div>
                            </div>
    
                        </div>
    
                    </div>
                </div>
            </div>
        </section>
    <!----------------- news & evens end ----------------->



{% endblock %}