{% extends 'base.html' %}
{% load static %}

{% block content %}

<!----------------- news & evens ----------------->
<section class="news-events">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading">Blog</h2>
                
                <div class="news-events-wrap">


                    {% for blog in blogs %}
                        <div class="single-news">
                            <div class="title-bar">
                            <p>{{blog.date}}</p>	
                            </div>
                            <div class="single-news-des">
                            <a href="{% url 'homeapp:blogdetailpage' blog.pk %}">
                                <h4>{{blog.name}}</h4>
                                <p>{{blog.content|safe|truncatechars:100}}</p>
                                <h4>Explore more</h4>
                            </a>
                                <br/>
                                <div class='single-news-img'>	
                                    <div class="col-xs-6 col-sm-6 col-md-3" >
                                       <div class="News-Img-Wrap" style="background:url({{blog.thumnail_img.url}})"></div>
                                    </div>
                                </div>	
                                </div>
                        </div>

                    {% endfor %}

                    
                
                
                    </div>

            </div>
        </div>
    </div>
</section>
<!----------------- news & evens end ----------------->

{% endblock %}