{% extends 'base.html' %}
{% load static %}

{% block content %}

<!----------------- news & evens ----------------->
<section class="news-events">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading">Blog</h2>
                
                <div class="news-events-wrap">

                                            <div class="single-news">
                            <div class="title-bar">
                            <p>January 11, 2022</p>								</div>
                            <div class="single-news-des">
                            <a href="blog/rooftop-gardening-bring-nature-into-your-home.html">
                                <h4>Rooftop Gardening: Bring Nature into Your Home</h4>
                                <p>There’s a classic Latin phrase called “Mens sana in corpore sano” which translates as </p>
                                Explore</a>
                                <br/>
                                <div class='single-news-img'>	
                                                   <div class="col-xs-6 col-sm-6 col-md-3" ><div class="News-Img-Wrap" style="background:url('admin/uploads/page/blog/1641902947jnnNT.jpg')"></div></div>
                                   </div>								</div>
                        </div>
                                            <div class="single-news">
                            <div class="title-bar">
                            <p>October 05, 2021</p>								</div>
                            <div class="single-news-des">
                            <a href="blog/why-should-you-prefer-a-duplex-apartment-in-dhaka.html">
                                <h4>Why should you prefer a duplex apartment in Dhaka?</h4>
                                <p>A duplex apartment is defined as a two-story flat usually taking up a dedicated section of a high-rise building. This kind of luxury flats in Dhaka can offer an ideal luxury lifestyle for many people. </p>
                                Explore</a>
                                <br/>
                                <div class='single-news-img'>	
                                                   <div class="col-xs-6 col-sm-6 col-md-3" ><div class="News-Img-Wrap" style="background:url('admin/uploads/page/blog/1633412832fiG0I.jpg')"></div></div>
                                   </div>								</div>
                        </div>
                                            <div class="single-news">
                            <div class="title-bar">
                            <p>July 28, 2021</p>								</div>
                            <div class="single-news-des">
                            <a href="blog/five-ways-to-bring-innovation-into-your-next-luxury-apartment-in-dhaka.html">
                                <h4>Five ways to bring innovation into your next luxury apartment in Dhaka</h4>
                                <p>Innovation has been the booming word for the last two decades. In Bangladesh, with the new Digital Bangladesh objectives in place, innovation has been the driving force to establish those set of goals into reality.  With the widespread use of the internet</p>
                                Explore</a>
                                <br/>
                                <div class='single-news-img'>	
                                                   <div class="col-xs-6 col-sm-6 col-md-3" ><div class="News-Img-Wrap" style="background:url('admin/uploads/page/blog/1627460374Eogpz.jpg')"></div></div>
                                   </div>								</div>
                        </div>
                                            <div class="single-news">
                            <div class="title-bar">
                            <p>July 25, 2021</p>								</div>
                            <div class="single-news-des">
                            <a href="blog/five-trends-are-influencing-the-growth-of-luxury-condos-in-dhaka.html">
                                <h4>Five trends are influencing the growth of luxury condos in Dhaka</h4>
                                <p>Luxury condos are growing in trend in this new era. It can be seen to be a favorite purchase among the many elites that includes Lionel Messi, who recently bought a luxury condo in South Florida.  </p>
                                Explore</a>
                                <br/>
                                <div class='single-news-img'>	
                                                   <div class="col-xs-6 col-sm-6 col-md-3" ><div class="News-Img-Wrap" style="background:url('admin/uploads/page/blog/1627198748JwDNr.jpg')"></div></div>
                                   </div>								</div>
                        </div>
                                            <div class="single-news">
                            <div class="title-bar">
                            <p>June 30, 2021</p>								</div>
                            <div class="single-news-des">
                            <a href="blog/luxury-apartment-with-swimming-pool-in-dhaka.html">
                                <h4>An affluent's dream: Luxury apartment with swimming pool in Dhaka</h4>
                                <p>Imagine floating on your back on the water at night and watching the moon in a serene atmosphere, in your own private and intimate space that transcends and epitomizes the ambiance of being in a spa. Moreover, without the restrictions of time that one usu</p>
                                Explore</a>
                                <br/>
                                <div class='single-news-img'>	
                                                   <div class="col-xs-6 col-sm-6 col-md-3" ><div class="News-Img-Wrap" style="background:url('admin/uploads/page/blog/1625047270nost7.jpg')"></div></div>
                                   </div>								</div>
                        </div>
                                            <div class="single-news">
                            <div class="title-bar">
                            <p>May 25, 2021</p>								</div>
                            <div class="single-news-des">
                            <a href="blog/redefining-the-intersection-between-the-quality-of-life-and-luxury-apartment-in-dhaka.html">
                                <h4>Redefining the intersection between the quality of life and luxury apartment in Dhaka</h4>
                                <p>With the ongoing Covid-19 infection and lockdowns in place now and then, Bangladesh, like the rest of the world is becoming accustomed to the “new standard of living”. </p>
                                Explore</a>
                                <br/>
                                <div class='single-news-img'>	
                                                   <div class="col-xs-6 col-sm-6 col-md-3" ><div class="News-Img-Wrap" style="background:url('admin/uploads/page/blog/1621937532MPm46.jpg')"></div></div>
                                   </div>								</div>
                        </div>
                                            <div class="single-news">
                            <div class="title-bar">
                            <p>April 23, 2021</p>								</div>
                            <div class="single-news-des">
                            <a href="blog/building-luxury-duplex-apartments-a-trend-of-the-future-by-the-millennials.html">
                                <h4>Building Luxury Duplex Apartments in Dhaka – A trend of the future by the millennials </h4>
                                <p>Buying or building a luxury duplex Apartment in Dhaka is a lifetime venture. With exceptions present, investing in a luxury apartment usually means you are committing for life or at least for the long run. </p>
                                Explore</a>
                                <br/>
                                <div class='single-news-img'>	
                                                   <div class="col-xs-6 col-sm-6 col-md-3" ><div class="News-Img-Wrap" style="background:url('admin/uploads/page/blog/1620109813lcZ05.jpg')"></div></div>
                                   </div>								</div>
                        </div>
                                            <div class="single-news">
                            <div class="title-bar">
                            <p>March 23, 2021</p>								</div>
                            <div class="single-news-des">
                            <a href="blog/things-you-need-to-know-before-buying-a-luxury-flat-in-bangladesh.html">
                                <h4>Things to know before buying luxury flats in Dhaka</h4>
                                <p>The meaning of luxury is very elaborate, in a way that it evokes different senses in different people. It might be that a person experiences luxury in owning a house, or having freedom to travel or just being able to afford a meal a day. </p>
                                Explore</a>
                                <br/>
                                <div class='single-news-img'>	
                                                   <div class="col-xs-6 col-sm-6 col-md-3" ><div class="News-Img-Wrap" style="background:url('admin/uploads/page/blog/1616493286lJcIM.jpg')"></div></div>
                                   </div>								</div>
                        </div>
                                    </div>

            </div>
        </div>
    </div>
</section>
<!----------------- news & evens end ----------------->

{% endblock %}