{% extends 'base.html' %}
{% load static %}

{% block content %}


<!----------------- news & evens ----------------->

<section class="news-events">
    <div class="container">
        <div class="row">

      {% for event in events %}
            <div class="col-md-12">
                <h2 class="heading">News <span>
                    <img class="mobile_only" src="themes/cms/assets/images/static/and.svg" alt=""> </span>
                <img class="desktop_only" src="themes/cms/assets/images/static/and_red.svg" alt=""></span>
                 Events</h2>
                
          
                <div class="news-events-wrap">
                        <div class="single-news">
                            <div class="title-bar">
                            <p>{{event.date}}</p>								
                        </div>
                            <div class="single-news-des news-desc">
                 <h4>{{event.name}}</h4>
                                    <p>{{event.content|safe}}</p>
                                    <div class='single-news-img'>	
                                    <div class="col-xs-6 col-sm-6 col-md-3" >
                                        <div class="News-Img-Wrap" style="background:url({{event.image.url}})"></div>
                                    </div>
                                     {% comment %} <!-- <div class="news-expand-all ">
                                            <p>expand all</p>
                                        </div> -->
                                     {% endcomment %}

                                    </div>									
                                </div>
                            </div>
                      </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>


<!----------------- news & evens end ----------------->



{% endblock %}